<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Account Check</title>
</head>
<body>
{% if success %}
<p>帳號正確</p>
{% else %}
<p>操作失敗</p>
{% endif %}
<a href="/">回首頁</a>
</body>
</html>